body {
    background-image: url('../images/fondoP.jpg');
}

#principal{
    
    margin: 12% 9%;   
    font-family:'Comic Sans MS'; 
    padding:20px 20px;
    background-color:white;
}

#principal > div{
    background-color:#0e2072;

}
#principal > div *{
    color:white;
    text-align:center;
}


#principal  h1{
    font-family: 'Bowlby One', cursive;
    background-color:#000311;
    padding:10px;
    color:white;
    text-align:center;
    margin:0 0 0 0;
}


h1{
    font-size:60px;
}
#principal p{

}
.btn_promo, #subDobEmpresa{
    display:block;
    margin:auto;
}
#der{
    margin-bottom:10px;
    
}
