body {
    background-color: #d9e4f4;
}
#Iniciar{
width:35%;
margin:100px auto;
}

#Iniciar  input{
    margin:14px 0 10px 0;;
}
#IniciarAdmi{
    width: 100%;
    padding: 10px;
    font-size:18px;
}

/*Página maestra*/
header, #fin {
    text-align: center;
    background-color: #000e23;
    padding:10px;
    color:white;
}
span{
    font-size:15px;
    text-align:center
}

#verSubDob ul li{
    list-style:none;
    float:left;
    margin:10px;
}
.limitar{
    clear:both;
}
#verSubDob{
    text-align:center;
}

/*Acordion*/
#Acordion > section.items input{
    margin-top:15px;
    float:right;
    display:none;
    
}
#Acordion section table{
    display:none;
    text-align:center;
}
#Acordion section:target table{
    display:inline-table;
}
#Acordion section:target img {
    display:none;
    
}
#Acordion section:target input{
    display:inline-block;
}

.tit > h2:hover{
    text-decoration:underline;
}


#Acordion{
    margin-left:180px;
}
header a, header a:hover{
    color:white;
    text-decoration:none;
}
#Acordion h2{
    display:inline-block;
}

#Acordion div.tit {
    background-color: #011d4c;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#Acordion tr:hover{
    color: red;
}

#Solicitud{
    text-align:center;
    width:180px;
    background-color: #042a68;
    color:white;
    position:fixed;
    border-radius:5px;
}
#Solicitud h3{
    padding:10px;
    background-color:black;
}

#Solicitud p{
    padding:10px;
}

#Solicitud > input{
  margin-bottom:10px !important; 
  background-color:#58af01 !important;
  
}
section.items{
    margin-top:20px;
}


/*Administrar Videos*/
